%btn {
	& {
		box-shadow: $tkshadow-btn, 0 0 0 0px var(--tkcolor-bg2);
		background: var(--tkcolor-bg0);
		outline: none;
		-webkit-tap-highlight-color: transparent;
		transition: box-shadow .1s $tktransition-in, background .1s $tktransition-in;
	}
	&:hover, &:focus {
		box-shadow: $tkshadow-btn, 0 0 0 3px var(--tkcolor-bg2);
	}
	&.tkbutton-pressed {
		box-shadow: $tkshadow-btn-transparent, 0 0 0 0px var(--tkcolor-bg2);
		background: var(--tkcolor-bg1);
	}
	&:active {
		box-shadow: $tkshadow-btn-transparent, 0 0 0 3px var(--tkcolor-bg2);
		background: var(--tkcolor-bg1);
	}
}
.tkbtn-normal {
	@extend %btn;
	& {
		border: 1px var(--tkcolor-bg2) solid;
		border-radius: .25rem;
		// font-size: .9rem;
	}
}
.tkbtn-flat {
	@extend %btn;
	& {
		box-shadow: $tkshadow-btn-transparent, 0 0 0 0px var(--tkcolor-bg2);
	}
	&:hover, &:focus {
		box-shadow: $tkshadow-btn-transparent, 0 0 0 3px var(--tkcolor-bg2);
	}
}
