%tkchip {
	@extend %tkcntchip;
	display: inline-flex;
	flex-shrink: 0;
	height: 1.5rem;
	align-items: center;
	justify-content: center;
	vertical-align: top;
}
.tkchip-x {
	@extend %tkchip, %tkcntchip-x;
	flex-direction: row;
}
.tkchip-y {
	@extend %tkchip, %tkcntchip-y;
	flex-direction: column;
}
.tkchip--shrinkable {
	flex-shrink: 1;
}
