%cntchip {
	--tkms:0rem;
	--tkms_:0rem;
	--tkpx:0rem;
	--tkpy:0rem;
	min-width: 0;
	max-width: 100%;
	min-height: 1.5rem;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	line-height: 1.5rem;
	line-break: strict;
	overflow-wrap: break-word;
	word-wrap: break-word;
	text-align: start;
	text-decoration: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	color: var(--tkcolor-fg1);
	font-family: $tkfont-sans;
	font-size: 1rem;
	font-feature-settings: $tkfont-fontfeature;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	appearance: none;
	-webkit-appearance: none;
}
%cntchip%color {
	background: var(--tkcolor-bg0);
}
.tkcolor-{&bg1, &bg2 {>%cntchip {
	background: var(--tkcolor-bg0);
}}}
%cntchip-x {
	&>%cntchip, &>%txt {
		margin-inline-end: var(--tkms);
		margin-block-end: 0;
	}
	>:last-child {
		margin-inline-end: 0;
	}
}
%cntchip-y {
	&>%cntchip, &>%txt {
		margin-inline-end: 0;
		margin-block-end: var(--tkms);
	}
	>:last-child {
		margin-block-end: 0; 
	}
}

%cnt {
	@extend %cntchip;
	--tkcol:1;
	width: calc(100% - var(--tkms_));
	margin-block-end: var(--tkms_);
	padding: var(--tkps);
}
.tkcnt-x {
	@extend %cnt, %cntchip-x;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
}
.tkcnt-y {
	@extend %cnt, %cntchip-y;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

@mixin m($m) {
	@extend %m;
	--tkms:#{.25rem * $m};
}
.tkm- {
	&0 {@include m(0)}
	&1 {@include m(1)}
	&2 {@include m(2)}
	&3 {@include m(3)}
	&4 {@include m(4)}
	&5 {@include m(5)}
	&6 {@include m(6)}
}

@mixin cnt--col($c) {
	--tkcol:#{$c};
	>%cnt {
		--tkcol:#{$c};
	}
}
.tkcnt--col- {
	&2 {@extend %cnt--col; @include cnt--col(2)}
	&3 {@extend %cnt--col; @include cnt--col(3)}
	&4 {@extend %cnt--col; @include cnt--col(4)}
	&5 {@extend %cnt--col; @include cnt--col(5)}
	&6 {@extend %cnt--col; @include cnt--col(6)}
	&7 {@extend %cnt--col; @include cnt--col(7)}
	&8 {@extend %cnt--col; @include cnt--col(8)}
	&9 {@extend %cnt--col; @include cnt--col(9)}
	&10 {@extend %cnt--col; @include cnt--col(10)}
}
%cnt--col>%cnt {
	width: calc(100% / var(--tkcol) - var(--tkms_) * ((var(--tkcol) - 1) / var(--tkcol)));
	margin-inline-end: var(--tkms);
	margin-block-end: var(--tkms);
}
%cnt--col>%m {
	--tkms_:var(--tkms);
}
.tkcnt--col- {
	&2>:nth-child(2n),
	&3>:nth-child(3n),
	&4>:nth-child(4n),
	&5>:nth-child(5n),
	&6>:nth-child(6n),
	&7>:nth-child(7n),
	&8>:nth-child(8n),
	&9>:nth-child(9n),
	&10>:nth-child(10n) {
		margin-inline-end: 0;
	}
	&2>:nth-last-child(-n+2),
	&3>:nth-last-child(-n+3),
	&4>:nth-last-child(-n+4),
	&5>:nth-last-child(-n+5),
	&6>:nth-last-child(-n+6),
	&7>:nth-last-child(-n+7),
	&8>:nth-last-child(-n+8),
	&9>:nth-last-child(-n+9),
	&10>:nth-last-child(-n+10) {
		margin-block-end: 0;
	}
}

%arfwrapper {
	position: relative;
	height: 0;
	padding-block-end: calc((100% / var(--tkcol, 1) - var(--tkms_) * ((var(--tkcol, 1) - 1) / var(--tkcol, 1))) * var(--tkay) / var(--tkax));
	>%cnt {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
@mixin arfwrapper($x, $y) {
	@extend %arfwrapper;
	--tkax:#{$x};
	--tkay:#{$y};
}
.tkarfwrapper- {
	&1-1 {@include arfwrapper(1, 1)}
	&16-9 {@include arfwrapper(16, 9)}
	&9-16 {@include arfwrapper(9, 16)}
	&4-3 {@include arfwrapper(4, 3)}
	&3-4 {@include arfwrapper(3, 4)}
}

@mixin at-media($w, $name) {
	$w2: ($w - 40) * 4 + 1px;
	@if ($w <= 100) {$w2: 0}
	$query: '(min-width:#{$w2}) and (max-width:#{4px * $w})';
	@if ($w >= 260) {$query: '(min-width:#{$w2})'}
	@media #{$query} {
		.tkcnt-x--#{$name} {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: row;
			&>%cntchip, &>%txt {
				margin-inline-end: var(--tkms);
				margin-block-end: 0;
			}
			>:last-child {
				margin-inline-end: 0;
			}
		}
		.tkcnt-y--#{$name} {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
			&>%cntchip, &>%txt {
				margin-inline-end: 0;
				margin-block-end: var(--tkms);
			}
			>:last-child {
				margin-block-end: 0;
			}
		}
		.tkcnt--col- {
			&1--#{$name} {@include cnt--col(1)}
			&2--#{$name} {@include cnt--col(2)}
			&3--#{$name} {@include cnt--col(3)}
			&4--#{$name} {@include cnt--col(4)}
			&5--#{$name} {@include cnt--col(5)}
			&6--#{$name} {@include cnt--col(6)}
			&7--#{$name} {@include cnt--col(7)}
			&8--#{$name} {@include cnt--col(8)}
			&9--#{$name} {@include cnt--col(9)}
			&10--#{$name} {@include cnt--col(10)}
			&2--#{$name}>:nth-child(n),
			&3--#{$name}>:nth-child(n),
			&4--#{$name}>:nth-child(n),
			&5--#{$name}>:nth-child(n),
			&6--#{$name}>:nth-child(n),
			&7--#{$name}>:nth-child(n),
			&8--#{$name}>:nth-child(n),
			&9--#{$name}>:nth-child(n),
			&10--#{$name}>:nth-child(n) {
				margin-inline-end: var(--tkms);
				margin-block-end: var(--tkms);
			}
			&1--#{$name}>:nth-child(n),
			&2--#{$name}>:nth-child(2n),
			&3--#{$name}>:nth-child(3n),
			&4--#{$name}>:nth-child(4n),
			&5--#{$name}>:nth-child(5n),
			&6--#{$name}>:nth-child(6n),
			&7--#{$name}>:nth-child(7n),
			&8--#{$name}>:nth-child(8n),
			&9--#{$name}>:nth-child(9n),
			&10--#{$name}>:nth-child(10n) {
				margin-inline-end: 0;
			}
			&1--#{$name}>:nth-last-child(-n+1),
			&2--#{$name}>:nth-last-child(-n+2),
			&3--#{$name}>:nth-last-child(-n+3),
			&4--#{$name}>:nth-last-child(-n+4),
			&5--#{$name}>:nth-last-child(-n+5),
			&6--#{$name}>:nth-last-child(-n+6),
			&7--#{$name}>:nth-last-child(-n+7),
			&8--#{$name}>:nth-last-child(-n+8),
			&9--#{$name}>:nth-last-child(-n+9),
			&10--#{$name}>:nth-last-child(-n+10) {
				margin-block-end: 0;
			}
		}
	}
}
@include at-media(260, xl);
@include at-media(220, l);
@include at-media(180, m);
@include at-media(140, s);
@include at-media(100, xs);

.tkcnt-txt {
	& {@extend %cnt;}
	&--small {
		line-height: 1rem;
		font-size: .75rem;
	}
	&--large {
		line-height: 1.5rem;
		font-size: 1.3rem;
	}
	&--x-large {
		line-height: 3rem;
		font-size: 2rem;
	}
	&>%txt {
		margin: 0;
	}
}
.tkcnt-- {
	&wrap {flex-wrap: wrap}
	&trim {overflow: hidden}
	&noshrinkable {flex-shrink: 0}
}
