.tkb-normal {border: 1px var(--tkcolor-bg2) solid}

.tklist {
	&>.tkb-normal {
		border: none;
		border-bottom: 1px var(--tkcolor-bg2) solid;
	}
	&>.tkb-normal:last-child {
		border-bottom: none;
	}
}

@mixin shadow($s) {
	box-shadow: 0 $s * .025rem $s * .125rem 0 var(--tkcolor-shadow);
}
.tkshadow{
	&-1 {@include shadow(1)}
	&-2 {@include shadow(2)}
	&-3 {@include shadow(3)}
	&-4 {@include shadow(4)}
}

@mixin r($i) {border-radius: $i * .25rem}
@mixin r-tl($i) {border-top-left-radius: $i * .25rem}
@mixin r-tr($i) {border-top-right-radius: $i * .25rem}
@mixin r-bl($i) {border-bottom-left-radius: $i * .25rem}
@mixin r-br($i) {border-bottom-right-radius: $i * .25rem}
.tkr {
	&-0 {@include r(0)}
	&-1 {@include r(1)}
	&-2 {@include r(2)}
	&-3 {@include r(3)}
	&-4 {@include r(4)}
}
.tkr-tl {
	&-0 {@include r-tl(0)}
	&-1 {@include r-tl(1)}
	&-2 {@include r-tl(2)}
	&-3 {@include r-tl(3)}
	&-4 {@include r-tl(4)}
}
.tkr-tr {
	&-0 {@include r-tr(0)}
	&-1 {@include r-tr(1)}
	&-2 {@include r-tr(2)}
	&-3 {@include r-tr(3)}
	&-4 {@include r-tr(4)}
}
.tkr-bl {
	&-0 {@include r-bl(0)}
	&-1 {@include r-bl(1)}
	&-2 {@include r-bl(2)}
	&-3 {@include r-bl(3)}
	&-4 {@include r-bl(4)}
}
.tkr-br {
	&-0 {@include r-br(0)}
	&-1 {@include r-br(1)}
	&-2 {@include r-br(2)}
	&-3 {@include r-br(3)}
	&-4 {@include r-br(4)}
}

.tkcolor-light, .tkcolor-dark, .tkcolor-pr {
	@extend %color;
}
:root, .tkcolor-light {
	--tkcolor-bg0:#{$tkcolor-bg0};
	--tkcolor-bg1:#{$tkcolor-bg1};
	--tkcolor-bg2:#{$tkcolor-bg2};
	--tkcolor-fg0:#{$tkcolor-bg8};
	--tkcolor-fg1:#{$tkcolor-bg6};
	--tkcolor-fg2:#{$tkcolor-bg4};
	--tkcolor-pr0:#{$tkcolor-pr4};
	--tkcolor-pr1:#{$tkcolor-pr5};
	--tkcolor-pr2:#{$tkcolor-pr6};
	--tkcolor-shadow:#{$tkcolor-bg8shadow};
}
.tkcolor-dark {
	--tkcolor-bg0:#{$tkcolor-bg8};
	--tkcolor-bg1:#{$tkcolor-bg7};
	--tkcolor-bg2:#{$tkcolor-bg6};
	--tkcolor-fg0:#{$tkcolor-bg0};
	--tkcolor-fg1:#{$tkcolor-bg2};
	--tkcolor-fg2:#{$tkcolor-bg4};
	--tkcolor-pr0:#{$tkcolor-pr4};
	--tkcolor-pr1:#{$tkcolor-pr3};
	--tkcolor-pr2:#{$tkcolor-pr2};
	--tkcolor-shadow:#{$tkcolor-bg0shadow};
}
.tkcolor-pr {
	--tkcolor-fg0:#{$tkcolor-bg0};
	--tkcolor-fg1:#{$tkcolor-pr0};
	--tkcolor-fg2:#{$tkcolor-pr1};
	--tkcolor-pr0:#{$tkcolor-bg0};
	--tkcolor-pr1:#{$tkcolor-pr0};
	--tkcolor-pr2:#{$tkcolor-pr1};
}
.tkcolor-dark .tkcolor-pr {
	--tkcolor-bg0:#{$tkcolor-pr4};
	--tkcolor-bg1:#{$tkcolor-pr3};
	--tkcolor-bg2:#{$tkcolor-pr2};
	--tkcolor-shadow:#{$tkcolor-pr0shadow};
}
.tkcolor-pr, .tkcolor-light .tkcolor-pr {
	--tkcolor-bg0:#{$tkcolor-pr4};
	--tkcolor-bg1:#{$tkcolor-pr5};
	--tkcolor-bg2:#{$tkcolor-pr6};
	--tkcolor-shadow:#{$tkcolor-pr8shadow};
}
@media (prefers-color-scheme: dark) {
	:root {
		--tkcolor-bg0:#{$tkcolor-bg8};
		--tkcolor-bg1:#{$tkcolor-bg7};
		--tkcolor-bg2:#{$tkcolor-bg6};
		--tkcolor-fg0:#{$tkcolor-bg0};
		--tkcolor-fg1:#{$tkcolor-bg2};
		--tkcolor-fg2:#{$tkcolor-bg4};
		--tkcolor-pr0:#{$tkcolor-pr4};
		--tkcolor-pr1:#{$tkcolor-pr3};
		--tkcolor-pr2:#{$tkcolor-pr2};
		--tkcolor-shadow:#{$tkcolor-bg0shadow};
	}
	.tkcolor-light {
		--tkcolor-bg0:#{$tkcolor-bg0};
		--tkcolor-bg1:#{$tkcolor-bg1};
		--tkcolor-bg2:#{$tkcolor-bg2};
		--tkcolor-fg0:#{$tkcolor-bg8};
		--tkcolor-fg1:#{$tkcolor-bg6};
		--tkcolor-fg2:#{$tkcolor-bg4};
		--tkcolor-pr0:#{$tkcolor-pr4};
		--tkcolor-pr1:#{$tkcolor-pr5};
		--tkcolor-pr2:#{$tkcolor-pr6};
		--tkcolor-shadow:#{$tkcolor-bg8shadow};
	}
	.tkcolor-pr {
		--tkcolor-fg0:#{$tkcolor-bg0};
		--tkcolor-fg1:#{$tkcolor-pr0};
		--tkcolor-fg2:#{$tkcolor-pr1};
		--tkcolor-pr0:#{$tkcolor-bg0};
		--tkcolor-pr1:#{$tkcolor-pr0};
		--tkcolor-pr2:#{$tkcolor-pr1};
	}
	.tkcolor-light .tkcolor-pr {
		--tkcolor-bg0:#{$tkcolor-pr4};
		--tkcolor-bg1:#{$tkcolor-pr5};
		--tkcolor-bg2:#{$tkcolor-pr6};
		--tkcolor-shadow:#{$tkcolor-pr8shadow};
	}
	.tkcolor-pr, .tkcolor-dark .tkcolor-pr {
		--tkcolor-bg0:#{$tkcolor-pr4};
		--tkcolor-bg1:#{$tkcolor-pr3};
		--tkcolor-bg2:#{$tkcolor-pr2};
		--tkcolor-shadow:#{$tkcolor-pr0shadow};
	}
}

.tkcolor- {
	&bg0 {background: var(--tkcolor-bg0)}
	&bg1 {background: var(--tkcolor-bg1)}
	&bg2 {background: var(--tkcolor-bg2)}
	&fg0 {color: var(--tkcolor-fg0)}
	&fg1 {color: var(--tkcolor-fg1)}
	&fg2 {color: var(--tkcolor-fg2)}
	&pr0 {color: var(--tkcolor-pr0)}
	&pr1 {color: var(--tkcolor-pr1)}
	&pr2 {color: var(--tkcolor-pr2)}
}
