%input {
	& {
		border: 1px var(--tkcolor-bg2) solid;
		box-shadow: 0 0 0 0px var(--tkcolor-bg1);
		background: var(--tkcolor-bg0);
		outline: none;
		-webkit-tap-highlight-color: transparent;
		transition: box-shadow .1s cubic-bezier($tktransition-in);
	}
	&:hover {
		box-shadow: 0 0 0 3px var(--tkcolor-bg1);
	}
	&:focus-within {
		box-shadow: 0 0 0 3px var(--tkcolor-bg2);
	}
	& input[type='text'] {
		@extend %cntchip;
		width: 100%;
		min-height: 1.5rem;
		height: auto;
		background: transparent;
		outline: none;
		-webkit-tap-highlight-color: transparent;
	}
}
.tkinput-text {
	@extend %input;
	border-radius: .5rem;
}
