@use 'sass:math';

.tkalign {
	&-start {align-items: flex-start}
	&-center {align-items: center}
	&-end {align-items: flex-end}
	&-stretch {align-items: stretch}
}

.tkjustify {
	&-start {justify-content: flex-start}
	&-center {justify-content: center}
	&-end {justify-content: flex-end}
	&-between {justify-content: space-between}
	&-evenly {justify-content: space-evenly}
	&-around {justify-content: space-around}
}

@mixin x($x) {
	width: $x * .25rem
}
@mixin y($y) {
	height: $y * .25rem;
	max-height: $y * .25rem;
}
.tkx {
	&-4 {@include x(4)}
	&-6 {@include x(6)}
	&-8 {@include x(8)}
	&-12 {@include x(12)}
	&-16 {@include x(16)}
	&-18 {@include x(18)}
	&-20 {@include x(20)}
	&-24 {@include x(24)}
	&-30 {@include x(30)}
	&-40 {@include x(40)}
	&-80 {@include x(80)}
	&-120 {@include x(120)}
	&-160 {@include x(160)}
	&-fit {width: 100%}
}
.tky {
	&-4 {@include y(4)}
	&-6 {@include y(6)}
	&-8 {@include y(8)}
	&-12 {@include y(12)}
	&-16 {@include y(16)}
	&-18 {@include y(18)}
	&-20 {@include y(20)}
	&-24 {@include y(24)}
	&-30 {@include y(30)}
	&-60 {@include y(60)}
	&-120 {@include y(120)}
	&-180 {@include y(180)}
	&-240 {@include y(240)}
	&-fit {height: 100%}
}

%px {
	padding-inline-start: var(--tkps);
	padding-inline-end: var(--tkps);
	padding-block-start: 0;
	padding-block-end: 0;
}
%py {
	padding-inline-start: 0;
	padding-inline-end: 0;
	padding-block-start: var(--tkps);
	padding-block-end: var(--tkps);
}
@mixin p($i) {
	--tkps: #{$i * .25rem};
}
.tkp {
	&-0, &x-0, &y-0 {@include p(0)}
	&-1, &x-1, &y-1 {@include p(1)}
	&-2, &x-2, &y-2 {@include p(2)}
	&-3, &x-3, &y-3 {@include p(3)}
	&-4, &x-4, &y-4 {@include p(4)}
	&-5, &x-5, &y-5 {@include p(5)}
	&-6, &x-6, &y-6 {@include p(6)}
	&x {
		&-0, &-1, &-2, &-3, &-4, &-5, &-6 {
			@extend %px;
		}
	}
	&y {
		&-0, &-1, &-2, &-3, &-4, &-5, &-6 {
			@extend %py;
		}
	}
}

.tkb-normal {border: 1px var(--tkcolor-bg2) solid}

@mixin r($i) {border-radius: $i * .25rem}
@mixin r-tl($i) {border-top-left-radius: $i * .25rem}
@mixin r-tr($i) {border-top-right-radius: $i * .25rem}
@mixin r-bl($i) {border-bottom-left-radius: $i * .25rem}
@mixin r-br($i) {border-bottom-right-radius: $i * .25rem}
.tkr {
	&-0 {@include r(0)}
	&-1 {@include r(1)}
	&-2 {@include r(2)}
	&-3 {@include r(3)}
	&-4 {@include r(4)}
}
.tkr-tl {
	&-0 {@include r-tl(0)}
	&-1 {@include r-tl(1)}
	&-2 {@include r-tl(2)}
	&-3 {@include r-tl(3)}
	&-4 {@include r-tl(4)}
}
.tkr-tr {
	&-0 {@include r-tr(0)}
	&-1 {@include r-tr(1)}
	&-2 {@include r-tr(2)}
	&-3 {@include r-tr(3)}
	&-4 {@include r-tr(4)}
}
.tkr-bl {
	&-0 {@include r-bl(0)}
	&-1 {@include r-bl(1)}
	&-2 {@include r-bl(2)}
	&-3 {@include r-bl(3)}
	&-4 {@include r-bl(4)}
}
.tkr-br {
	&-0 {@include r-br(0)}
	&-1 {@include r-br(1)}
	&-2 {@include r-br(2)}
	&-3 {@include r-br(3)}
	&-4 {@include r-br(4)}
}

%sticky {
	position: sticky;
	z-index: 1;
	background: var(--tkcolor-bg0);
}
.tksticky {
	&-top {@extend %sticky; top: 0}
	&-bottom {@extend %sticky; bottom: 0}
	&-right {@extend %sticky; right: 0}
	&-left {@extend %sticky; left: 0}
}

@mixin shadow($s) {
	box-shadow: 0 $s * .025rem $s * .125rem 0 var(--tkcolor-shadow);
}
.tkshadow{
	&-1 {@include shadow(1)}
	&-2 {@include shadow(2)}
	&-3 {@include shadow(3)}
	&-4 {@include shadow(4)}
}
