%txt {
	text-decoration: none;
	color: var(--tkcolor-fg1);
	font-weight: normal;
	font-size: 1rem;
}
.tktxt {
	& {@extend %txt;}
	&-heading {@extend %txt; font-weight: bold}
	&-small {@extend %txt; font-size: .75rem}
}
.tkcnt-txt--small>%txt {
	font-size: .75rem;
}
.tktxt--trim {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tkimg {
	height: auto;
	object-fit: cover;
	vertical-align: top;
	background-color: var(--tkcolor-bg1);
}
